* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}
nav {
    background-color:#315e5a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(244, 243, 242);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 1rem;

    
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size:22px ;
}
.nav-links a:hover{
    color: #ff6347;
    
}
#profile{
     background: linear-gradient(90deg, rgb(101, 152, 168) 0%, rgba(188, 238, 255, 0.989) 100%); 
     height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
     color: rgb(23, 22, 22);
}
video{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
     color: rgb(23, 22, 22);

}
.profile-section img{
    width: 250px;
    border-radius: 50%;

}

button{
    background-color:#ff4500;
    color: rgb(15, 9, 9);
    border: none;
    padding:0.7rem 1.5rem;
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    background-color:#aa350a;
}

#education{
    padding: 50px;
    background-color: #315e5a;
}
#education h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;  
}
.education-card{
    background-color:#89a9a6;
}
/* Skill Section Styles */

#skills {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  #skills .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #skills h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .skill {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .skill img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  
  .skill h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skill p {
    font-size: 14px;
    color: #666;
  }
  
  
  #contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }
  
  #contact h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  #contact p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333
  }
  
  .contact-card {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .group-form {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .group-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333
  }
  
  .group-form input,
  .group-form text area {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 16px;
    font-size: 16px;
  }
  
  .group-form textarea {
    height: 150px;
    resize: none;
  
  }
/* #project{
    background-color: white;
}
#project h2{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}
.group-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-card{
    position:relative;
    height: 200px;
    width: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0   4px   8px   rgba(188, 238, 255, 0.989)
}

.project-image img{
    width: 10px;
    height: 10spx;
    object-fit: cover;

}
.project-description{
    position: absolute;
    top: 05;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:  black;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease;

}
.project-description h3{
    margin: 0;
    font-size: 1.5rem;
    color: #ffdd77;
}
.project-description p{
    margin: 10px 0;
    padding: 0 20px;
    font-size: 1em;

}
.project-card:hover
.project-description{
    left:0;

}
.view-botton{
    text-decoration: none;
    color:#fff;
    background-color: #ff704d;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
} */
#blog{
    padding: 50px 0;
    background-color: #f4f4f9;
    text-align:center;

}
#blog h2{
    font-size:2.5rem;
    color:black;
    margin-bottom:40px;

}
.scroller-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #ff5733 transparent;
}
.scroller-container::-webkit-scrollbar{
    height: 8px;

}
.scroller-container::-webkit-scrollbar-thumb{
    background-color: #ff5733;
    border-radius: 10px;
}
.scroller-container::::-webkit-scrollbar-track{
    background-color: #f4f4f9;
}
.blog-card:hover {
    transform: scale(1.05);
  }
  
  .blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-card h3 {
    margin: 20px 0 10px;
    font-size: 1.5em;
    color: black;
  }
  
  .blog-card p {
    padding: 0 20px;
    font-size: 1em;
    color: black;
  }
  
  .read-more {
    text-decoration: none;
    color: #fff;
    background-color: #ff5733;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .read-more:hover {
    background-color: #707070;
  }
/* footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-links li {
    margin-right: 20px;
  }
  
  .social-links a {
    color: #fff;
    transition: color 0.2s ease;
  }
  
  .social-links a:hover {
    color: #ccc;
  }
  
  .fa {
    font-size: 24px;
  } */
   /* General Reset */
* 
footer {
    background-color: #315e5a;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    .footer-container {
    max-width: 800px;
    margin: 0 auto;
    }
    
    .social-links {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    }
    
    .social-links a {
    margin: 0 10px;
    }
    
    .social-links img {
    width: 24px;
    height: 24px;
    transition: opacity 0.2s;
    }
    
    .social-links img:hover {
    opacity: 0.8;
    }
    
    .copyright {
    font-size: 14px;
    }

    #project{
        background-color: #f9f9f9;
        }
        #project h2{
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 20px;
        
        }
        .group-card{
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .project-card{
            position: relative;
            height: 200px;
            width: 300px;
            margin: 20px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
        
        .project-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        
        }
        .project-description{
            position: absolute;
            top: 0%;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: left 0.5s ease;
        }
        .project-description h3{
            margin: 0;
            font-size: 1.5rem;
            color: #ffdd77;
        }
        .project-description p{
            margin: 10px 0;
            padding: 0 20px;
            font-size:1em ;
        }
        .project-card:hover
        .project-description{
            left: 0;
            
        }
        .view-botton{
            text-decoration: none;
            color: #fff;
            background-color: #ff704d;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
        }
        .map{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px
        }
        .contact-card{
            width: 500px;
            height: 360;
        }